*{
    margin: 0px;
}

body{
    font-family:'Red Hat Display', sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

h1{
    font-family: 'Noto Serif Display', serif;
    font-weight: 300;
    font-size: 250px;
    color: rgb(255, 255, 255);
}

h2{
    font-family: 'Noto Serif Display', serif;
    font-size: 250px;
    font-weight: 300;
    color: rgb(84, 96, 49);
}

h3{
    font-family: 'Noto Serif Display', serif;
    font-size: 150px;
    font-weight: 300;
    color: rgb(84, 96, 49);
}

h4{
    font-family: 'Noto Serif Display', serif;
    font-size: 100px;
    font-weight: 300;
    color: rgb(84, 96, 49);
}

h5{
    font-family: 'Noto Serif Display', serif;
    font-size: 70px;
    font-weight: 300;
    color: rgb(84, 96, 49);
}

h6{
    font-family: 'Noto Serif Display', serif;
    font-size: 50px;
    font-weight: 300;
    color: rgb(84, 96, 49);
}

.nav-container{
    display: flex;
    column-gap: 0;
    height: 80px;
    background-color: rgb(84, 96, 49);
    margin-right: 23.9%;
}

.nav-about{
    flex: 2;
    margin-top: 43px;
}

.nav-how{
    flex: 2;
    margin-top: 43px;
}

.nav-why{
    flex: 2;
    margin-top: 43px;
}

.nav-why-not{
    flex: 2;
    margin-top: 43px;
}

.container-landing{
    display: flex;
	column-gap: 0;
    background-color: rgb(84, 96, 49);
    height: 550px;
}

.container-right{ 
    overflow: scroll;
    height: 550px;
    background-size: 400px;
    width: 382px;
    background-color: rgb(255, 255, 255);
}

.left-landing{
    flex: 1;
    border-color: rgb(84, 96, 49);
    margin-left: 30%;
    margin-top: 13.3%;
}

.right-landing{
    flex: .5;
    margin-top: 12%;
    margin-right: 10%;
}

.nav-site-logo{
    flex: 1;
    margin-top: 28px;
    margin-left: 28px;
}

.decorative-line{
    position: absolute;
    width: 455px;
    margin-left: 530px;
    margin-top: 15px;
}

.small-nav{
    display: flex;
    column-gap: 10em;
    background-color: rgb(84, 96, 49);
    height: 60px;
    margin-right: 309.5px;
}

.smaller-nav{
    display: flex;
    column-gap: 10em;
    margin-left: 50px;
}

.examples{
    flex: 1;
    text-decoration: underline;
}

.type-is-image{
    flex: 1;
}

.juxt{
    flex:1 ;
}

.example-group{
    display: flex;
    column-gap: 23.5px;
    height: 580px;
}

.example-images{
    flex: 1;
    overflow: scroll;
    height: 580px;
    width: 800px;
    background-color: rgb(84, 96, 49);
}

.Example-title{
    flex: 0;
    height: 580px;
    background-size: 400px;
}

.canals{
    flex: 1;
    width: 900px;
    margin-top: 100px;
    margin-left: 30px;
}

.engineer{
    flex: 1;
    width: 700px;
    margin-top: 80px;
    margin-left: 30px;
}

.gold{
    flex: 1;
    width: 700px;
    margin-top: 80px;
    margin-left: 30px;
}

.decorative-line2{
    position: absolute;
    width: 1000px;
    margin-left: 325px;
    margin-top: 0;
}

.debut{
    flex: 1;
    width: 700px;
    margin-top: 80px;
    margin-left: 30px;
}

.fruit{
    flex: 1;
    width: 700px;
    margin-top: 80px;
    margin-left: 30px;
}

.artdirector{
    flex: 1;
    width: 700px;
    margin-top: 80px;
    margin-left: 30px;
}

.januart{
    flex: 1;
    width: 700px;
    margin-top: 80px;
    margin-left: 30px;
}

.the-history{
    display: flex;
    column-gap: 2px;
}

.the-history-of{
    flex: 3;
    height: 582px;
    margin-top: 50px;
    margin-left: 50px;
}

.history-copy{
    flex: 1;
    overflow: scroll;
    background-color: rgb(84, 96, 49);
    width: 382px;
    height: 582px;
    padding-left: 0px;
    padding-top: 20px;
    box-sizing: border-box;
    /* width: 200px;
    height: 40px; */
}

.THE{
    color: rgb(84, 96, 49);
    margin-bottom: 60px;
}

.history-of{
    margin-top: 10px;
    margin-left: 30px;
    color: rgb(84, 96, 49);
}

.of{
    margin-left: 600px;
    color: rgb(84, 96, 49);
}

.scale1{
    margin-left: 100px;
    color: rgb(84, 96, 49);
}