
*{
	margin: 0;
}

body{
	font-size: 20px;
	font-family: gimlet-text, serif;
	font-weight: 500;
	font-style: normal;
}
  
.container {
	display: flex;
	column-gap: .5em;
  }
  
.img {
	flex: 1;
	width: 500px;
}

.copy {
	flex: 1;
	width: 60%;
}